.error {
  border: 1px solid red;
  border-radius: 5px;
  width: 240px;
  height: 30px;
}

.noError {
  border: 1px solid lawngreen;
  border-radius: 5px;
  width: 240px;
  height: 30px;
}

 .hide {
   display: none;
 }

 .show {
   display: block;
   color: red;
 }
