.error {
  border: 1px solid red;
  border-radius: 5px;
  width: 240px;
  height: 30px;
}

.noError {
  border: 1px solid lawngreen;
  border-radius: 5px;
  width: 240px;
  height: 30px;
}

 .hide {
   display: none;
 }

 .show {
   display: block;
   color: red;
 }

 .friend {
   width: 30%;
   float: left;
   margin-bottom: 20px;
   margin-left: 10px;
     background-color: rgb(169, 150, 207, 0.2);
 }

 #container {
   width: 90%;
   margin-left: 5%;
   padding-left: 2.5%;
 }
