{{ friendModel | json }}

<form #formName="ngForm" action="" method="post" novalidate>
  <label for="firstName">First name</label><br>
  <input pattern="^[a-zA-Z\s]*$" [class.error]="firstName.invalid && firstName.touched" [class.noError]="firstName.valid" #firstName="ngModel" [(ngModel)]="friendModel.firstName" name="firstName" type="text" id="firstName" required ><br>
  <span [ngClass]="firstName.invalid && firstName.touched ? 'show' : 'hide'">Only charracters from a-z and spaces alloud</span><br>

  <label for="lastName">Last name</label><br>
  <input pattern="^[a-zA-Z\s]*$" [class.error]="lastName.invalid && lastName.touched" [class.noError]="lastName.valid" #lastName="ngModel" [(ngModel)]="friendModel.lastName" name="lastName" type="text" id="lastName" required><br>
  <span [ngClass]="lastName.invalid && lastName.touched ? 'show' : 'hide'">Only charracters from a-z znd spaces alloud</span><br>

  <label for="email">Email</label><br>
  <input pattern="[\w._%+-]+@[\w.-]+\.[a-zA-Z]{2,4}" [class.error]="email.invalid && email.touched" [class.noError]="email.valid" #email="ngModel" [(ngModel)]="friendModel.email" name="email" type="email" id="email" required><br>
  <span [ngClass]="email.invalid && email.touched ? 'show' : 'hide'">No valid email</span><br>

  <label for="phoneNumber">Phone number</label><br>
  <input pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" [class.error]="phoneNumber.invalid && phoneNumber.touched" [class.noError]="phoneNumber.valid" #phoneNumber="ngModel" [(ngModel)]="friendModel.phoneNumber" name="phoneNumber" type="text" id="phoneNumber" required><br>
  <span [ngClass]="phoneNumber.invalid && phoneNumber.touched ? 'show' : 'hide'">No valid phone number</span><br>

  <label for="favouriteLanguages">Favourite languages</label><br>
  <select [class.error]="language.invalid && language.touched" [class.noError]="language.valid" #language="ngModel" [(ngModel)]="friendModel.languages" name="favouriteLanguages" id="favouriteLanguages" required>
    <option *ngFor="let language of languages">{{ language }}</option>
  </select><br>
  <span [ngClass]="language.invalid && language.touched ? 'show' : 'hide'">Choose a language</span><br>

  <button [disabled]="formName.form.invalid">Submit</button>
</form>

<router-outlet></router-outlet>
